<% 
  const key = 'demoDialog';
  const pageData = pages[key];
  const page = {
    title: pageData.title ? pageData.title + titleSeparator + siteName : siteName,
    description: pageData.description,
    keywords: pageData.keywords,
    path: pageData.path,
    root: pageData.root,
  };
  const dialogs = [
    { 
      trigger: "トリガー1",
      title: "一つ目のモーダルコンテンツ", 
      descriptions: [
        "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
        "<a href='#'>Focus Test</a>"
      ],
      image: {
        file: "demo/dummy1.jpg",
        alt: "ダミー画像1",
      }
    },
    { 
      trigger: "トリガー2",
      title: "二つ目のモーダルコンテンツ", 
      descriptions: [
        "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
        "<a href='#'>Focus Test</a>"
      ],
      image: {
        file: "demo/dummy2.jpg",
        alt: "ダミー画像2",
      }
    },
    { 
      trigger: "トリガー3",
      title: "三つ目のモーダルコンテンツ", 
      descriptions: [
        "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
        "<a href='#'>Focus Test</a>"
      ],
      image: {
        file: "demo/dummy3.jpg",
        alt: "ダミー画像3",
      }
    }
  ];
%>
<!DOCTYPE html>
<html lang="ja">
<%- include(ejsPath + 'common/_head.ejs', { page }) %>

<body>
  <%- include(ejsPath + 'common/_header.ejs', { page }) %>
  <main class="p-demo">
    <div class="p-demo__inner l-inner">
      <h1 class="p-demo__title"><%- pageData.title %></h1>
      <div class="p-demo__content">
        <%- include(ejsPath + 'components/_p-dialog-trigger.ejs', { dialogs }) %>
      </div>
      <aside class="p-demo__reference">
        <h2 class="p-demo__reference-title">参考サイト</h2>
        <ul class="p-demo__items">
          <li class="p-demo__item">
            <a href="https://www.tak-dcxi.com/article/implementation-example-of-a-modal-created-using-the-dialog-element#%E3%82%B9%E3%82%AF%E3%83%AD%E3%83%BC%E3%83%AB%E3%81%99%E3%82%8B%E8%A6%81%E7%B4%A0%E3%81%AB%E3%81%AF-overscroll-behaviorcontain-%E3%82%92%E6%8C%87%E5%AE%9A%E3%81%99%E3%82%8B" target="_blank" rel="noopener noreferrer">
              dialog要素を使用したモーダルウィンドウの実装例
            </a>
          </li>
        </ul>
      </aside>
    </div>
  </main>
  <%- include(ejsPath + 'common/_footer.ejs', { page }) %>
  <%- include(ejsPath + 'components/_p-dialog.ejs', { dialogs }) %>
</body>

</html>