FTP_SERVER=ftp.example.com
FTP_USERNAME=your-username
FTP_PASSWORD=your-password
FTP_SERVER_DIR=/public_html/wp-content/themes/t2025-12-24vite-wp/
TEST_URL=https://t2025-12-24vite-wp.rea1i2e.net/
DISCORD_WEBHOOK=

# このファイルの使い方
# - このファイルを複製して.env.deployファイルを作成
# - 複製して作った.env.deployファイルは、コミットしない（.gitignoreに書いてあるのでコミットされない）
# - 必要な情報を入力（FTPホスト、ユーザー名、パスワード、デプロイ先ディレクトリ、テストURL、Discord Webhook URL）
# - TEST_URLは、ベーシック認証の情報を含めると便利

# その他のメモ
# WordPressユーザー名：
# WordPressパスワード：