<% 
  const pageData = pages['privacy'];
  const page = {
    title: pageData.title ? pageData.title + titleSeparator + siteName : siteName,
    description: pageData.description,
    keywords: pageData.keywords,
    path: pageData.path,
    root: pageData.root,
  };
%>
<!DOCTYPE html>
<html lang="ja">
<%- include(ejsPath + 'common/_head.ejs', { page }) %>

<body>
  <%- include(ejsPath + 'common/_header.ejs', { page }) %>
  <main class="p-main l-main">
    <div class="p-main__inner l-inner">
      <h1>個人情報保護方針</h1>
    </div>
  </main>
  <%- include(ejsPath + 'common/_footer.ejs', { page }) %>
</body>

</html>

