<footer class="p-footer l-footer" id="footer">
  <div class="p-footer__inner l-inner">
    <div class="p-footer__nav">
      <ul class="p-footer__nav-list">
        <%
          Object.entries(pages)
            .filter(([key]) => !isExcluded(key, footerExcludePages))
            .forEach(([key, item]) => {
        %>
          <li class="p-footer__nav-item">
            <a href="<%- item.path.startsWith('http') ? item.path : page.root + item.path %>" class="p-footer__nav-link" <%- item.targetBlank ? 'target="_blank" rel="noopener noreferrer"' : '' %>>
              <span class="p-footer__nav-text-ja"><%- item.label %></span>
            </a>
          </li>
        <%
          });
        %>
      </ul>
    </div>
  </div>
</footer>