/* デザインカンプ */
$width-pc: 1440;
$width-sp: 375;

/* FVサイズ
PC 1440 * 768
SP 375 * 700 
*/

/* インナー幅設定 */
$inner-pc: 1100;
$inner-sp: 540;

/* 余白 */
$padding-pc: 50;
$padding-sp: 20;

/* リキッドレイアウトの範囲
$inner-pc + $padding-pc * 2 = 1200
 → 1200 〜 768px
*/