<%
// pagesオブジェクトからdemoで始まるキーを取得
const demoItems = Object.keys(pages)
  .filter(key => key.startsWith('demo') && key !== 'demo')
  .map(key => {
    const pageData = pages[key];
    return {
      text: pageData.label,
      href: pageData.path
    };
  });
%>
<ul class="p-demo__items">
  <% demoItems.forEach((item) => { %>
    <li class="p-demo__item">
      <a href="<%- page.root + item.href %>">
        <%- item.text %>
      </a>
    </li>
  <% }); %>
</ul>

