<section class="p-grid-section l-grid-section" id="grid-section">
  <div class="p-grid-section__heading">
    <h2>見出し</h2>
  </div>
  <div class="p-grid-section__content">
    説明文<br />
    gridで横並びにした子要素でmargin-inline-endを使って右側画面いっぱいに領域を拡大しようとすると、親要素の幅を参照できず画面を超えて広がってしまう。
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.<br />
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.<br />
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
  </div>
  <div class="p-grid-section__image">
    <img src="<%- imagePath %>/demo/nagasaki3.jpg" alt="画像alt">
  </div>
</section>