<% 
const splideFadeImages = [
    { file: "demo/nagasaki1.jpg", alt: "長崎1" },
    { file: "demo/nagasaki2.jpg", alt: "長崎2" },
    { file: "demo/nagasaki3.jpg", alt: "長崎3" },
  ];
%>
<div class="p-splide-fade splide" id="js-splide-fade">
  <div class="p-splide-fade__slider-track splide__track">
    <ul class="p-splide-fade__slider-list splide__list">
      <% splideFadeImages.forEach((item) => { %>
      <li class="p-splide-fade__slider-item splide__slide">
        <img src="<%- imagePath %><%- item.file %>" alt="<%- item.alt %>">
      </li>
      <% }); %>
    </ul>
  </div>
</div>