@use "../global" as *;

.p-demo-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: rem(24);

  @include mq() {
    grid-template-columns: repeat(3, 1fr);
  }
}

.p-demo-cards__item {
  min-width: 0;
}

.p-demo-cards__item-link {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
  border-radius: rem(8);
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    }
}

.p-demo-cards__item-link--hover-scale {
  @include hover-scale-img();
}

.p-demo-cards__image {
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    // @include hover-scale-parent();
  }
}

.p-demo-cards__body {
  padding: rem(16);
  flex: 1;
  display: flex;
  flex-direction: column;
}

.p-demo-cards__title {
  margin-bottom: rem(8);
  font-size: rem(18);
  font-weight: bold;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* 制限したい行数が3の場合 */
  overflow: hidden;
}

.p-demo-cards__description {
  font-size: rem(14);
  color: #666;
  line-height: 1.6;
  flex: 1;
}

.p-demo-cards__load-more {
  margin-block-start: rem(40);
  text-align: center;
  @include mq() {
    margin-block-start: rem(60);
  }
}
