@use "../global" as *;

.p-grid-section {
  display: grid;
  @include mq() {
    grid-template-columns: 70% 30%;
    grid-template-areas:
      "heading image"
      "content image";
    gap: rem(40);
    background-color: pink;
  }
}

.p-grid-section__heading {
  grid-area: heading;
}

.p-grid-section__content {
  grid-area: content;
}

.p-grid-section__image {
  grid-area: image;
  @include mq() {
    margin-inline-end: calc(100% - 50cqi);
  }
}
