@use "../global" as *;

.p-sub-mv {
}

.p-sub-mv__inner {
}

.p-sub-mv__title {
  padding-bottom: rem(58);

}

.p-sub-mv__title-ja {
}

.p-sub-mv__title-en {
}

.p-sub-mv__image {
}

.p-sub-mv__image img {
  aspect-ratio: 3/4;
  object-fit: cover;
  @include mq() {
    aspect-ratio: 2/1;
  }
}