@use "../global" as *;

.p-footer {
  padding-block: rem(60) rem(20);
  background-color: var(--color-black);
  color: #fff;
}

.p-footer__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(30);
  @include mq() {
    grid-template-columns: 1fr 1fr;
  }
}

.p-footer__nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.p-footer__nav-item {
  margin-bottom: rem(10);
}

.p-footer__nav-link {
  color: inherit;
  text-decoration: none;
}

.p-footer__nav-item-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: rem(12);
}

.p-footer__nav-toggle {
  appearance: none;
  border: 0;
  background: transparent;
  color: inherit;
  padding: rem(8);
  cursor: pointer;
}

.p-footer__nav-sub-list {
  list-style: none;
  padding: 0;
  margin: rem(8) 0 0;
  padding-left: rem(16);
}

.p-footer__nav-sub-item {
  margin-top: rem(6);
}

.p-footer__nav-sub-link {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

.p-footer__bottom {
  margin-top: rem(40);
  padding-top: rem(20);
  border-top: rem(1) solid #555;
  text-align: center;
}

.p-footer__copyright {
  color: #999;
}

.p-footer__copyright small {
  font-size: rem(10);
}
