@use "../global" as *;

.p-header {
  position: fixed;
  z-index: 1001;
  inset-block-start: var(--wp-admin-bar-height, 0);
  inset-inline: 0;
  height: var(--header-height);
  background-color: #ccc;
  transition: background-color 0.3s ease-in-out;
}

.p-header.is-show {
  background-color: #eee;
}

.p-header__inner {
  display: flex;
  height: 100%;
  padding-inline: rem($padding-sp);
  @include mq() {
  }
}

.p-header__logo {
  width: rem(40);
  height: 100%;
  display: flex;
  align-items: center;
  @include mq() {
  }
}

.p-header__logo-link {
  display: block;
}

.p-header__menu-button {
  margin-left: auto;
  @include mq() {
    display: none;
  }
}

.p-header__pc-nav {
  display: none;
  @include mq() {
    display: block;
    margin-left: auto;
    height: 100%;
  }
}

.p-header__pc-nav-items {
  height: 100%;
  display: flex;
}

.p-header__pc-nav-item {
  height: 100%;
  position: relative;
}

.p-header__pc-nav-link {
  display: flex;
  align-items: center;
  gap: rem(8);
  height: 100%;
  padding-inline: rem(16);
  @include mq() {
  }
}

.p-header__pc-nav-item:has(.p-header__pc-nav-submenu) .p-header__pc-nav-link {
  background-color: pink;
}

.p-header__pc-nav-item:has(.p-header__pc-nav-submenu) .p-header__pc-nav-link::after {
  width: rem(16);
  aspect-ratio: 1;
  background: url(../images/common/arrow_down.svg) no-repeat center / contain;
  content: "";
}


.p-header__pc-nav-item.is-current .p-header__pc-nav-link {
  background-color: skyblue;
}

// Dropdown (children)
.p-header__pc-nav-submenu {
  @include mq() {
    position: absolute;
    inset-block-start: 100%;
    inset-inline-start: 0;
    min-inline-size: rem(200);
    background: pink;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 1s ease,
      visibility 0s linear 1s; /* ←ここが“待つ” */
    }
  }
  
  // Show submenu on hover/focus within (PC)
  .p-header__pc-nav-item:hover .p-header__pc-nav-submenu,
  .p-header__pc-nav-item:focus-within .p-header__pc-nav-submenu {
    @include mq() {
    transition:
      opacity 1s ease;
    opacity: 1;
    visibility: visible;
  }
}

.p-header__pc-nav-submenu-items {
}

.p-header__pc-nav-submenu-item {
}

.p-header__pc-nav-submenu-item.is-current {

}

.p-header__pc-nav-submenu-link {
  display: block;
  padding: rem(8) rem(16);
  color: inherit;
  text-decoration: none;
  white-space: nowrap;
}

.p-header__pc-nav-submenu-item.is-current .p-header__pc-nav-submenu-link {
  background-color: skyblue;
}

.p-header__pc-nav-submenu-link:hover,
.p-header__pc-nav-submenu-link:focus-visible {
  background: rgba(0, 0, 0, 0.06);
}

.p-header__pc-nav-link[target="_blank"]::after {
  --icon-size: #{rem(20)};
  margin-block: calc((1lh - var(--icon-size)) / 2);
  block-size: var(--icon-size);
  aspect-ratio: 1/1;
  mask-image: url(../images/common/icon_external.svg);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  background-color: currentColor;
  content: "";
}

.p-header__menu-button {
  z-index: 101;
}
