@use "../global" as *;

.p-single {
}

.p-single__inner {
}

.p-single__head {
}

.p-single__thumbnail {
}

.p-single__thumbnail img {
  aspect-ratio: 16/9;
  object-fit: cover;
}

.p-single__meta {
  margin-block-start: rem(20);
  display: flex;
  flex-direction: column;
  gap: rem(12);
  @include mq() {
    margin-block-start: rem(30);
    gap: rem(20);
  }
}

.p-single__date {
}

.p-single__terms {
  display: flex;
  flex-wrap: wrap;
  gap: rem(8);
}

.p-single__term {
  margin-block-start: 0;
}

.p-single__term-link {
  display: inline-block;
  padding: rem(4) rem(12);
  font-size: rem(12);
  text-decoration: none;
  border: 1px solid currentColor;
  border-radius: rem(4);
  transition: opacity 0.3s;
  @include mq() {
    padding: rem(6) rem(16);
    font-size: rem(14);
  }
}

.p-single__title {
  margin-block-start: rem(20);
  font-size: rem(24);
  font-weight: bold;
  line-height: 1.6;
  @include mq() {
    margin-block-start: rem(30);
    font-size: rem(32);
  }
}

.p-single__content {
  margin-block-start: rem(40);
  @include mq() {
    margin-block-start: rem(60);
  }
}

.p-single__post-nav {
  margin-block-start: rem(60);
  @include mq() {
    margin-block-start: rem(80);
  }
}

