<% 
  const pageData = pages['top'];
  const page = {
    title: pageData.title ? pageData.title + titleSeparator + siteName : siteName,
    description: pageData.description,
    keywords: pageData.keywords,
    path: pageData.path,
    root: pageData.root,
  };
%>
<!DOCTYPE html>
<html lang="ja">
<%- include(ejsPath + 'common/_head.ejs', { page }) %>

<body>
  <%- include(ejsPath + 'common/_header.ejs', { page }) %>
  <main>
    <div class="" id="js-mv">
      <%- include(ejsPath + 'components/_p-splide-fade.ejs') %>
    </div>

    <section class="p-demo">
      <div class="p-demo__inner l-inner">
        <h2 class="p-demo__title">デモの一覧</h2>
        <div class="p-demo__content">
          <%- include(ejsPath + 'components/_p-demo.ejs', { page }) %>
        </div>
      </div>
    </section>
    <%- include(ejsPath + 'components/_c-page-top.ejs') %>
  </main>

  <%- include(ejsPath + 'common/_footer.ejs', { page }) %>
</body>

</html>