@use "./base/_reset";
@use "./base/_root";
@use "./base/_admin-bar";
@use "./base/_base";
@use "./layout/**";
@use "./components/**";
@use "./utility/**";

@use "./demo-components/**"; // demoページ用スタイル


/* デバッグ用のスタイル */
// html { scroll-behavior: auto; } // ピクパ時に邪魔になる
// *, *::before, *::after { outline: 1px solid red; } // 横スクロール発見用
